<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <body>
        <input type="button" value="the button"><br>
        <input type="submit" value="confirmed"><br>
        <input type="text" placeholder="login"><br>
        <input type="password" value="the key"><br>
        
        <label>10th</label>
        <input type="radio" name="age">
        <label>20th</label>
        <input type="radio" name="age">
        <label>30th</label>
        <input type="radio" name="age"><br>

        <input type="checkbox"><br>
        <input type="date"><br>

        <script>
            function test() {
                alert("click!")
            }
        </script>
        <br><br><br><br>
        <fieldset>
        <form action="D:\Coding\itbank-python_exp\blog\templates\my_html\add_file.html">
            <input type="test" placeholder="login" name="id_value"><br>
            <input type="password"><br>
            <input type="submit" value="send">
            <input type="reset" value="init">
            <input type="button" value="run script" onclick="test()"
        </form>
        </fieldset>
    </body>
</html>